<html>
<head>
    <title>{% block page_title %}{% endblock page_title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrahead %}{% endblock extrahead %}
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>
    <div class="with-iconav">
    {% block navbar %}{% endblock navbar %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
    {% block extra_js %}{% endblock extra_js %}
    </div>
</body>
</html>