<div class="dashhead">
	<div class="dashhead-titles">
		<h6 class="dashhead-subtitle">Filter Views</h6>
		<h2 class="dashhead-title">Filter Overview</h2>
	</div>
</div>
<div class="table-responsive">
	<table class="table" data-sort="table">
		<thead>
			<tr>
				<th class="header">Tool</th>
				<th class="header">Module</th>
				<th class="header">Current Filter</th>
				<th class="header">Description</th>
				<th class="header">Date</th>
			</tr>
		</thead>
		<tbody>
			{% for swap in swap_list %}
			<tr>
				<td>
					{{ module.main_tool.name }}
				</td>
				<td>
					{{ module.name }}
				</td>
				<td>
					{{  module.current_filter.product_code }}
				</td>
				<td>
					{% for chem in module.chemistry.all %}
						{{ chem }}
					{% endfor %}
				</td>
				<td>
					Datum
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td>
					inhoud
				</td>
				<td>
					Meer
				</td>
				<td>
					Hier komt een brede kolom, mogelijk met meerdere rijen. De flex table past zijn breedte automatisch aan
				</td>
				<td>
					2/06/1095
				</td>
			</tr>
		</tbody>
	</table>
</div>