{% extends 'layout.html' %}

{% load widget_tweaks staticfiles %}

{% block extra_css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block content %}
	<div class="col-sm-9 col-xs-12 content">
		<div class="dashhead">
			<div class="dashhead-titles">
				<h6 class="dashhead-subtitle">Filter Views</h6>
				<h2 class="dashhead-title">Change filter</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h5>Select Tool</h5>
			</div>
			<div class="col-md-9">
				<select id="first-select" class="custom-select form-control">
					<option>--Select--</option>
					{% for tool in tools %}
					<option>{{ tool|upper }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<!--- The form needed for the selected tool will be inserted in this form-container -->
		<div class="form-container">
		</div>
	</div>
{% endblock content %}


{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/application.js' %}" defer></script>
{% endblock extra_js %}