{% extends 'layout.html' %}

{% load widget_tweaks staticfiles %}

{% block content %}
<select id="first-select" class="custom-select">
	<option>--Select--</option>
	{% for tool in tools %}
	<option>{{ tool|upper }}</option>
	{% endfor %}
</select>

<form method="post" action="{% url 'new-swap' %}">
{% csrf_token %}
	<div class="form-container">
	</div>
</form>
{% endblock content %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/application.js' %}" defer></script>
{% endblock extra_js %}