{% extends 'base.html' %}

{% load filter_tags %}

{% block navbar %}
	<nav class="iconav">
		<a class="iconav-brand" href="{% url 'overview' %}">
			<span class="iconav-brand-icon icon icon-tools"></span>
		</a>
		<div class="iconav-slider">
			<ul class="nav nav-pills iconav-nav">
				<li>
					<a href="{% url 'home' %}" title="Overview" data-toggle="tooltip" data-placement="right" data-container=".iconav">
						<span class="icon icon-home"></span>
						<small class="iconav-nav-label visible-xs-block">Overview</small>
					</a>
				</li>
				<li>
					<a href="{% url 'overview' %}" title="Overview" data-toggle="tooltip" data-placement="right" data-container=".iconav">
						<span class="icon icon-leaf"></span>
						<small class="iconav-nav-label visible-xs-block">Overview</small>
					</a>
				</li>
			</ul>
		</div>
	</nav>
{% endblock navbar %}

{% block sidebar %}
	<div class="col-sm-3 sidebar">
		<nav class="sidebar-nav">
			<div class="sidebar-header">
				<button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
					<span class="sr-only">Toggle nav</span>
				</button>
				<a class="sidebar-brand img-responsive" href="#">
					<span class="icon icon-leaf sidebar-brand-icon"> Filters</span>
				</a>
			</div>
			<div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
				<ul class="nav nav-pills nav-stacked">
					<li class="nav-header">Filter Views</li>
					<li class="{% active request overview %}">
						<a href="{% url 'overview' %}">Filter Overview</a>
					</li>
					<li class="{% active request test %}">
						<a href="{% url 'test' fab='fab1' tool='' %}">Tool View</a>
					</li>
					<li class="{% active request history %}">
						<a href="{% url 'history' %}">Filter History</a>
					</li>
					<li class="{% active request new-swap %}">
						<a href="{% url 'new-swap' %}">Change Filter</a>
					</li>
					<!--<li class="{% active request form-handler %}">
						<a href="{% url 'form-handler' %}">Change Filter</a>
					</li>-->
				</ul>
			</div>
		</nav>
	</div>
{% endblock sidebar %}

{% block content %}
	<div class="container">
		
	</div>
{% endblock content %}
