{% extends 'layout.html' %}

{% load staticfiles %}

{% block extra_css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block content %}
	<div class="container">
		{% if messages %}
			<p class="danger">
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			</p>
{% endif %}
		<div class="row">
			<div class="col-sm-9 col-xs-12 content">
				<div class="dashhead">
					<div class="dashhead-titles">
						<h6 class="dashhead-subtitle">Filter Views</h6>
						<h2 class="dashhead-title">Filter Overview</h2>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table" data-sort="table">
						<thead>
							<tr>
								<th class="header">Tool</th>
								<th class="header">Module</th>
								<th class="header">Current Filter</th>
								<th class="header">Description</th>
								<th class="header">Date</th>
							</tr>
						</thead>
						<tbody>
							{% for module in module_list %}
							<tr>
								<td>
									{{ module.main_tool.name }}
								</td>
								<td>
									{{ module.name }}
								</td>
								<td>
									{{  module.current_filter.product_code }}
								</td>
								<td>
									{% for chem in module.chemistry.all %}
										{{ chem }}
									{% endfor %}
								</td>
								<td>
									Datum
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/tablesorter.min.js' %}" defer></script>
	<script>
		$(document).ready(function() {
	  		// call the tablesorter plugin
	  		$("[data-sort=table]").tablesorter({
	    		// Sort on the second column, in ascending order
	    		//sortList: [[0,0]]
	  		});
		});
	</script>
{% endblock extra_js %}

