{% extends 'layout.html' %}

{% load staticfiles %}

{% block extra_css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-9 col-xs-12 content">
			<div class="dashhead">
				<div class="dashhead-titles">
					<h6 class="dashhead-subtitle">Filter Views</h6>
					<h2 class="dashhead-title">Overdue List</h2>
				</div>
			</div>
			<div class="table-full">
				<div class="table-responsive">
					<table class="table" data-sort="table">
						<thead>
							<tr>
								<th class="header">Tool</th>
								<th class="header">Module</th>
								<th class="header">Filter</th>
								<th class="header">Last change</th>
								<th class="header">Overdue</th>
							</tr>
						</thead>
						<tbody>
							{% for module in overdue_list %}
							<tr>
								<td>
									{{ module.main_tool.name }}
								</td>
								<td>
									{{ module.name }}
								</td>
								<td>
									{{  module.current_filter }}
								</td>
								<td>
									{{ module.swaps.first.date }}
								</td>
								<td>
									{{ module.time_to_next_swap|cut:"-" }} days
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}