{% extends 'layout.html' %}

{% load staticfiles %}

{% block extra_css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-xs-12 content">
				<div class="dashhead">
					<div class="dashhead-titles">
						<h6 class="dashhead-subtitle">Filter Views</h6>
						<h2 class="dashhead-title">Tool View</h2>
					</div>
				</div>
				<div class="hr-divider">
					<ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
						<li  {% if fab == 'fab1' %}class="active"{% endif %} role="presentation">
							<a href="{% url 'test' fab='fab1' tool='' %}">Fab1</a>
						</li>
						<li {% if fab == 'fab2' %}class="active"{% endif %} role="presentation">
							<a href="{% url 'test' fab='fab2' tool='' %}" {% if fab == 'fab2' %}class="active"{% endif %}>Fab2</a>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-sm-3 col-xs-4">
						<ul class="nav nav-bordered nav-stacked">
							<li class="nav-header">Tools</li>
							{% for tool in tool_list %}
							<li {% if tool.name|lower == current_tool %}class="active"{% endif %}>
								<a href="{% url 'test' fab=tool.cleanroom|lower tool=tool.name|lower %}">{{ tool.name|upper }}</a>
								<!--<a href="{% url 'modules-for-tool' tool %}">{{ tool.name|upper }}</a>-->
							</li>
						{% endfor %}
						</ul>
					</div>
					<div class="col-sm-9 col-xs-8" id="tool-container">
						<div class="dashhead m-t-md">
						  	<div class="dashhead-titles">
						    	<h3 class="dashhead-title">{{ modules.last.main_tool|upper }}</h3>
						  	</div>
						</div>
						<div class="table-responsive">
							<table class="table" data-sort="table">
								<thead>
									<tr>
										<th class="header">Module</th>
										<th class="header">Current Filter</th>
										<th class="header"># filters</th>
										<th class="header">Last Change</th>
									</tr>
								</thead>
								<tbody>
									{% for module in modules %}
									<tr>
										<td>
											<a class="detail" data-pk="{{ module.pk }}" href="{% url 'module-detail' module.pk %}">{{ module.name }}</a>
										</td>
										<td>
											<p class="{% if not module.current_filter.is_stock_article %}text-danger{% else %}text-success{% endif %}">{{ module.current_filter }}</p>
										</td>
										<td>
											{{  module.number_of_filters }}
										</td>
										<td>
											{{ module.swaps.last.date }}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/tablesorter.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/application.js' %}"></script>
	<script>

		//Table sorter API
		$("[data-sort=table]").tablesorter({
	    		// Sort on the second column, in ascending order
	    		//sortList: [[0,0]]
	  	});
	</script>
{% endblock extra_js %}


