{% extends 'layout.html' %}

{% load staticfiles %}

{% block extra_css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-xs-12 content">
				<div class="dashhead">
					<div class="dashhead-titles">
						<h6 class="dashhead-subtitle">Filter Views</h6>
						<h2 class="dashhead-title">Filter History</h2>
					</div>
				</div>
				<div class="table-full">
					<div class="table-responsive">
						<table class="table" data-sort="table">
							<thead>
								<tr>
									<th class="header">Date</th>
									<th class="header">Tool</th>
									<th class="header">Module</th>
									<th class="header">Filter</th>
									<th class="header">Comment</th>
									<th class="header">Who?</th>
								</tr>
							</thead>
							<tbody>
								{% for swap in swap_list %}
								<tr>
									<td>
										{{ swap.date }}
									</td>
									<td>
										{{ swap.module.main_tool }}
									</td>
									<td>
										{{ swap.module }}
									</td>
									<td>
										{{ swap.swapped_filter }}
									</td>
									<td>
										{{ swap.comment }}
									</td>
									<td>
										{{ swap.who }}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/tablesorter.min.js' %}"></script>
	<script>
		$(document).ready(function() {
	  		// call the tablesorter plugin
	  		$("[data-sort=table]").tablesorter({
	    		// Sort on the second column, in ascending order
	    		//sortList: [[0,0]]
	  		});
		});
	</script>
{% endblock extra_js %}

