{% extends 'layout.html' %}

{% load staticfiles %}

{% block extra_css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block content %}
	<div class="container">
		<div class="row">
			<a id="statusmail" href="http://statusmail.imec.be/json/module/list.json"  class="btn btn-info">Statusmail</a>			
		</div>
	</div>
{% endblock content %}

{% block extra_js %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/statusmail.js' %}"></script>
{% endblock extra_js %}


