{% load staticfiles %}


<div class="dashhead m-t-md">
  	<div class="dashhead-titles">
    	<h3 class="dashhead-title">{{ module.main_tool|upper }} -- {{ module.name|upper }}</h3>
  	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<h4 class="m-b-xs">Current Filter</h4>
		<p class="m-b-md">{{ module.current_filter }}</p>
		<h4 class="m-b-xs">Previous Filter</h4>
		<p class="m-b-md">{{ module.previous_filter }}</p>
		<h4 class="m-b-xs">Last Filter Change</h4>
		<p class="m-b-md">{{ module.swaps.last.date }}</p>
		<h4 class="m-b-xs">Extra Info</h4>
		<p class="m-b-md">{{ module.extra_info }}</p>
	</div>
	<div class="col-md-4">
		<h4>Filter age</h4>
		<div class="m-x-auto">
			<canvas
				class="ex-graph"
				withd=150 height=150
				data-chart="doughnut"
				data-value="[{ value: {{ swap_passed }}, color: '#e64759', label:'test' }, {value: {{ swap_remaining }}, color: '#1ca8dd', label:'hmm' }]"
				data-segment-stroke-color="#252830">
			</canvas>
		</div>
	</div>
</div>
<a class="btn btn-lg btn-primary-outline" type="button" href="{{request.META.HTTP_REFERER}}">Go Back</a>
